<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.refractored.monkeysapp" android:versionName="1.0.1" android:versionCode="2">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/ic_launcher" android:theme="@style/MyTheme" android:label="Monkeys App">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>