<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.refractored.monkeysapp" android:versionName="1.1.0" android:versionCode="7">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/ic_launcher" android:theme="@style/MyTheme" android:label="Monkeys App">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>